.item {
  max-height: 168px;
  min-width: 344px;
  padding: 10px;
}

.item img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  pointer-events: none;
}

.inner-carousel {
  display: flex;
}

.carousel {
  cursor: grab;
  overflow: hidden;
  margin: 0;
}

.carousel-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
