.food-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.category-carousel {
  margin: 0;
  overflow: hidden;
}

.cat-item {
  margin: 3px;
}
.category-btn {
  margin: 3px;
  display: flex;
  width: max-content;
  border: 1px solid #5a7360;
  border-radius: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5a7360;
  background-color: transparent;
  padding: 4px 15px;
}

.category-btn:active {
  background: #5a7360;
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: 600;
}

.category-btn:focus {
  background: #5a7360;
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: 600;
}

.carousel {
  cursor: grab;
  overflow: hidden;
}

.cat-inner-carousel {
  display: flex;
  align-items: center;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  gap: 16px;
  width: 300px;
  height: 30px;

  background: #f3f3f3;
  border-radius: 20px;
  border: none;
}

.price-cont {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 5px;
}

.add-btn-sm {
  width: 78px;
  height: 23px;
  border: 1px solid #5a7360;
  border-radius: 20px;
  background-color: transparent;
  margin-right: 10px;
  color: #5a7360;
}
.food-item {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  width: 328px;
  height: 110px;
  overflow: hidden;
  border-bottom: 0.4px solid #d9d9d9;
}

.food-img {
  min-width: 78px;
  min-height: 78px;
  max-width: 78px;
  max-height: 78px;
  border-radius: 10px;
}

.food-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.food-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 0 16px;
}
.food-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  margin: 0 0 0 16px;
}

.food-price {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 0 16px;
}

.cart-cont {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  width: 360px;
  height: 86px;
  background: #ffffff;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.4);
}

.cart-btn {
  width: 328px;
  height: 48px;
  margin: 10px;
  background: #5a7360;
  border-radius: 20px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
