.Main {
  background-color: white;
  margin: -20px 0px 0 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: max-content;
  overflow: scroll;
}
.greet {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #5a7360;
  margin: 30px 0 0 0;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin: 0 0 10px 0;
}
.search {
  width: 328px;
  height: 48px;
  background: #f3f3f3;
  border-radius: 20px;
  border: none;
  list-style: none;
  margin: 0 0 10px 0;
}
input[type="text"]::placeholder {
  padding-left: 10px;
}
